name: Build And Release

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: "Select the release type: create, update, or test"
        required: true
        default: "create"
        type: choice
        options:
          - create
          - update
          - test

jobs:
  zip-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Read package.json
        id: package
        run: |
          package_content=$(cat package.json)
          name=$(echo "$package_content" | jq -r '.name')
          displayName=$(echo "$package_content" | jq -r '.displayName')
          version=$(echo "$package_content" | jq -r '.version')
          echo "name=$name" >> $GITHUB_ENV
          echo "displayName=$displayName" >> $GITHUB_ENV
          echo "version=$version" >> $GITHUB_ENV

      - name: Check for existing release
        id: check_release
        run: |
          release_response=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/releases/tags/${{ env.version }}")
          release_id=$(echo "$release_response" | jq -r '.id')
          if [ "$release_id" != "null" ]; then
            echo "Release exists with ID: $release_id"
            echo "release_id=$release_id" >> $GITHUB_ENV
          else
            echo "Release does not exist."
          fi

      - name: Abort if release exists (for create)
        if: ${{ github.event.inputs.release_type == 'create' && env.release_id != '' }}
        run: |
          echo "::error title=Release Already Exists::A release with version ${{ env.version }} already exists. Cannot create duplicate releases."
          exit 1

      - name: Create ZIP file
        run: |
          zip -r "${{ env.name }}-${{ env.version }}.zip" . \
          -x '.git/*' '.github/*' '*.md' '*.bak'

      - name: Create a new release (test or public)
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: "${{ env.version }}"
          release_name: "${{ env.version }}"
          draft: ${{ github.event.inputs.release_type == 'test' }}
          prerelease: false

      - name: Upload files if release exists
        if: ${{ env.release_id != '' }}
        run: |
          echo "Updating existing release..."
          # Upload ZIP file
          curl -X POST -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          -H "Content-Type: application/zip" \
          --data-binary @"./${{ env.name }}-${{ env.version }}.zip" \
          "https://uploads.github.com/repos/${{ github.repository }}/releases/${{ env.release_id }}/assets?name=${{ env.name }}-${{ env.version }}.zip"

          # Upload package.json
          curl -X POST -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          -H "Content-Type: application/json" \
          --data-binary @"./package.json" \
          "https://uploads.github.com/repos/${{ github.repository }}/releases/${{ env.release_id }}/assets?name=package.json"

          # Upload UnityPackage
          curl -X POST -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          -H "Content-Type: application/octet-stream" \
          --data-binary @"./Packages/${{ env.name }}/${{ env.name }}-${{ env.version }}.unitypackage" \
          "https://uploads.github.com/repos/${{ github.repository }}/releases/${{ env.release_id }}/assets?name=${{ env.name }}-${{ env.version }}.unitypackage"

      - name: Upload files to new release
        if: ${{ env.release_id == '' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: "./${{ env.name }}-${{ env.version }}.zip"
          asset_name: "${{ env.name }}-${{ env.version }}.zip"
          asset_content_type: application/zip

      - name: Upload package.json to release
        if: ${{ env.release_id == '' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: "./package.json"
          asset_name: "package.json"
          asset_content_type: application/json

      - name: Copy files to Packages/${{ env.name }}
        run: |
          mkdir -p "Packages/${{ env.name }}"
          rsync -av --exclude='.git' --exclude='.github' --exclude='*.md' --exclude='*.zip' . "Packages/${{ env.name }}/"

      - name: List files in workspace
        run: |
          echo "Files in workspace:"
          find . -type f

      - run: find "Packages/${{ env.name }}/" -name \*.meta >> metaList
      
      - name: What is in metaList?
        run: |
          echo "Contents of metaList:"
          cat metaList

      - name: Create UnityPackage
        uses: pCYSl5EDgo/create-unitypackage@master
        with:
          package-path: "Packages/${{ env.name }}/${{ env.name }}-${{ env.version }}.unitypackage"
          include-files: metaList
